<header class="header">
  <app-navbar></app-navbar>
  <div class="header__img">
    <img
      src="/assets/images/illustrations/illustration-intro.png"
      alt="intro"
    />
  </div>
  <div class="header__shape">
    <img
      src="/assets/images/background/bg-curvy-mobile.svg"
      alt="shape"
    />
  </div>
</header>
<section class="intro">
  <h1>All your files in one secure location, accesible anywhere.</h1>
  <p>Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family and co-workers.</p>
  <app-button></app-button>
</section>
